## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstats

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json

## Visual Studio
.vs/
*.rsuser
*.sln.iml
launchSettings.json

## Rider
.idea/

## User secrets
secrets.json

## Environment files
.env
.env.*
!.env.example

## OS
.DS_Store
Thumbs.db
